body {
    background-image: url("Background.png");
    background-size: auto;
}

#reg1 {
    position: absolute;
    top: 40%;
    left: 40%;

}

#slider {
    position: relative;
    top: 37%;
    left: 2%;
    padding-left: 5px;
    margin-top: 32px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 300px;
    width: 600px;
}

#reg2 {
    position: absolute;
    top: 30%;
    left: 20%;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: grey;

}
#reg4 {
    position: absolute;
    float: left;
    
}
#reg5 {
    float: left;
    margin-left: 173px;
}
#wrap {
    position: absolute;
    overflow: auto;
    top: 30%;
    left: 23.9%;
    border: 1px solid;
}


#nav {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 10%;
}

ul {

    background: transparent;
    text-decoration: none;
}
a {
    width: 6em;
    text-decoration: none;
    color: Grey;
    padding: 0.2em 7em;
}

#nav li {
    display: inline;
    padding: 20px;
}

a:hover {
    color: White;
    transition: color 0.5s;
    }

.DDGridView {
     font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
     color: Black;
}

.DDGridView th {
    background: Grey;
    color: white;
    text-align: left;
    padding: 6px;
    
}
.DDGridView td {
    padding: 6px;
}

h1 {
    color: darkred;
    font-weight: bold;
}

h2 {
    color: darkred;
    font-weight: bold;
}

#l {
    display: block;
    list-style: none;
}

h3 {
    color: grey;
    font-weight: bold;
}

p {
    color: black;
    font-weight: lighter;
}

#logo{  
    background-color: transparent;
    left: 55%;
}


