body {
    background-image: url("Background.png")

}

#reg1 {
    position: absolute;
    top: 40%;
    left: 40%;

}

#reg2 {
    position: absolute;
    top: 40%;
    left: 40%;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: Grey;
}
#reg4 {
    position: absolute;
    top: 30%;
    left: 23.9%;
    
}


#nav {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 15%;
}

ul {

    background: transparent;
    text-decoration: none;
}
a {
    width: 6em;
    text-decoration: none;
    color: Grey;
    padding: 0.2em 7em;
}

li {
    display: inline;
    padding: 20px;
}

a:hover {
    color: White;
    }

.DDGridView {
     font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
     color: Black;
}

.DDGridView th {
    background: Grey;
    color: white;
    text-align: left;
    padding: 6px;
    
}
.DDGridView td {
    padding: 6px;
}

